.brand {
  padding-top: 50px;
  height: 150px;
  background-color: white;
  font-size: 3rem;

  #brand-name {
    color: rgb(58, 58, 70);
    text-align: center;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
  }
}
.navbar {
  background-color: white;
}
.navbar-nav {
  li {
    line-height: 10px;
    a {
      text-transform: uppercase;
    }
  }
  li:last-child {
    border: none;
  }
}
