<title>daffy</title>

<!-- Required Meta Tag -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap 4.1 CSS -->
<link rel="stylesheet" href="/prebuilt/bootstrap.min.css" />

<!-- General CSS -->
<link rel="stylesheet" href="/css/main.css" />

<!-- fonts -->
<link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

<!-- jQuery -->
<script src="/prebuilt/jquery-3.3.1.min.js"></script>
<script src="/prebuilt/bootstrap.min.js"></script>
