<!DOCTYPE>
<html>
<head>
  <title>daffy | Personal Website</title>
  <% include ../../elements/includes %>
</head>
<body>
  <% include ../../elements/nav %>
  <section id="about" class="about section">
      <div class="container">
          <h2 class="title text-center">Who am I?</h2>
          <p class="intro text-center">
            My name is Daniel, I am a student. <br /> A student currently attending University of Toronto specializing in Computer Science.
          </p>
          <div class="row">
              <div class="item col-lg-4 col-md-6 col-12">
                  <div class="icon-holder">
                      <i class="fas fa-heart"></i>
                  </div>
                  <div class="content">
                      <h3 class="sub-title">My background</h3>
                      <p></p>
                  </div>
              </div>
              <div class="clearfix visible-md"></div>
              <div class="item col-lg-4 col-md-6 col-12">
                  <div class="icon-holder">
                      <i class="fas fa-code"></i>
                  </div>
                  <div class="content">
                      <h3 class="sub-title">Projects</h3>
                      <p>Unlike many developers who are a student, I do not have any outstanding projects currently. But I will keep on working on small side projects during my free time</p>
                  </div>
              </div>
              <div class="item col-lg-4 col-md-6 col-12">
                  <div class="icon-holder">
                      <i class="fas fa-coffee"></i>
                  </div>
                  <div class="content">
                      <h3 class="sub-title">Hobbies</h3>
                      <p>Love to learn and speak Japanese, play guitar and do small side projects when I find time when studying.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
</body>
</html>
