 <!-- Footer -->
 <footer class="footer footer-black footer-big">
   <div class="container">
     <div class="row">
       <div class="col-md-4 col-sm-4 ml-auto mr-auto">
         <div class="logo text-center">
           <h3>Daniel Chu | Daffy</h3>
         </div>
       </div>
       <div class="col-md-6 offset-md-2 col-sm-8">
         <div class="links">
           <ul>
             <li>
               <a href="#">
                 Home
               </a>
             </li>
             <li>
               <a href="https://github.com/daffychuy" target="_blank">
                 Github
               </a>
             </li>
             <li>
               <a href="https://www.linkedin.com/in/daffychuy/" target="_blank">
                 Linkedin
               </a>
             </li>
             <li>
               <a>
                 CV
               </a>
             </li>
           </ul>
         </div>
         <hr>
         <div class="copyright">
           <div class="pull-left">
             Made with <i class="far fa-heart heart"></i> & <i class="fas fa-code"></i> by Daffy
           </div>
		 </div>
		</div>
    </div>
    </div>
 </footer>
