<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent nav-down" color-on-scroll="300">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#" rel="tooltip" title="daffy" data-placement="bottom">
                daffy
            </a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="View me on Github" data-placement="bottom"
                    href="https://github.com/daffychuy" target="_blank">
                    <i class="fab fa-github-alt"></i>
                    <p class="d-lg-none">GitHub</p>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="View Me on Linkedin" data-placement="bottom"
                    href="https://www.linkedin.com/in/daffychuy/" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                    <p class="d-lg-none">Linkedin</p>
                </a>
                </li>
            </ul>
        </div>
    </div>
</nav>