<!-- Main hero page -->
<div class="page-header cd-section" data-parallax="true" id="page-head">
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
      <div class="motto text-left">
        <h1 class="title">{{data.basic[0].page_title}}</h1>
        <h3 class="description">{{data.basic[0].page_description}}</h3>
      </div>
    </div>
  </div>
</div>
<!-- Main content-->
<div class="wrapper">
  <div class="section text-center landing-section cd-section" id="about-me">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">A little about me</h2>
          <h5 class="description">
            {{data.basic[0].about_me}}
          </h5>
        </div>
      </div>

    </div>
  </div>

  <div class="section section-dark text-center landing-section cd-section" id="experiences">
    <div class="container">
      <h2 class="title">Work Experiences</h2>
      <h6 class="description">The work throughout the course of University</h6>
        <br />
        <div class="row">
          <div *ngFor="let d of data.experiences" class="col-md-6">
            <div class="card car-profile card-plain">
              <div class="card-body">
                <div class="card-body">
                  <div class="author">
                    <h4 class="card-title">{{d.title}}</h4>
                    <h6 class="card-category text-muted" style="font-weight: 600 !important">{{d.start_date}} ~ {{d.end_date}}</h6>
                    <h6 class="card-cateogry text-muted" style="font-weight: 600 !important" [innerHTML]="d.detailed_position"></h6>
                  </div>
                  <p class="card-description text-center">
                    {{d.description}}
                  </p>
                </div>
              </div>
            </div>
          </div>

          
        </div>
    </div>
  </div>
    <div class="section section-project cd-section" id="projects">
        <div class="project-4 section">
          <div class="container">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Projects</h2>
                <h5 class="description">THE PROJECTS THAT I'VE WORKED ON OR IS CURRENTLY IN THE WORK WHILE STUDYING</h5>
              </div>
            </div>
            <div class="space-top"></div>
            <div *ngFor="let d of data.projects">
            <div *ngIf="d.id % 2 === 0" class="row" style="font-weight: 400 !important">
              <div class="col-md-5 ml-auto">
                <div class="card" data-background="image" style="background-image: url('/assets/images/blank-image.png')">
                </div>
              </div>
              <div class="col-md-5 mr-auto">
                <div class="card card-plain">
                  <div class="card-body text-left">
                    <h6 class="card-category">Side Project</h6>
                    <a href="#pablo">
                      <h3 class="card-title">{{d.title}}</h3>
                    </a>
                    <p class="card-description" [innerHTML]="d.description"></p>
                    <div class="card-footer">
                      <a href="#" class="btn btn-neutral">
                        <i class="fa fa-book" aria-hidden="true"></i> Read More
                      </a>
                      <a [href]="d.project_link" class="btn btn-just-icon btn-neutral" target="_blank">
                        <i class="fab fa-github" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <span *ngIf="d.id % 2 === 1">
              <br><hr><br>
            </span>
            <div *ngIf="d.id % 2 === 1" class="row" style="font-weight: 400 !important">
              <div class="col-md-5 ml-auto">
                <div class="card card-plain">
                  <div class="card-body">
                    <h6 class="card-category">Side Project</h6>
                    <a href="#pablo">
                      <h3 class="card-title">{{d.title}}</h3>
                    </a> 
                    <p class="card-description" [innerHTML]="d.description" target="_blank"></p>
                    <div class="card-footer">
                      <a href="#" class="btn btn-neutral">
                        <i class="fa fa-book" aria-hidden="true"></i> Read More
                      </a>
                      <a [href]="d.project_link" class="btn btn-just-icon btn-neutral">
                        <i class="fab fa-github" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5 mr-auto">
                <div class="card" data-background="image" style="background-image: url('/assets/images/blank-image.png')">
                </div>
              </div>
              
            </div>
          </div>
      </div>

    </div>
    <div class="section section-dark landing-section text-center cd-section" id="tech">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Technologies</h2>
            <h6 class="description">The Languages/Technologies that I've learned & used</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="info tech">
              <div class="icon">
                <img src="/assets/images/python.png">
              </div>
              <div class="description">
                Python
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="info tech">
              <div class="icon">
                <img src="/assets/images/java.png">
              </div>
              <div class="description">
                Java
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="info tech">
              <div class="icon">
                <img src="/assets/images/c.png">
              </div>
              <div class="description">
                C
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="info tech">
              <div class="icon">
                <img src="/assets/images/docker.png">
              </div>
              <div class="description">
                Docker
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="info tech">
              <div class="icon">
                <img src="/assets/images/javascript.png">
              </div>
              <div class="description">
                Javascript
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="info tech">
              <div class="icon">
                <img src="/assets/images/c++.png">
              </div>
              <div class="description">
                C++
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="info tech">
              <div class="icon">
                <img src="/assets/images/nodejs.png">
              </div>
              <div class="description">
                Nodejs
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="info tech">
              <div class="icon">
                <img src="/assets/images/flutter.png">
              </div>
              <div class="description">
                Flutter
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="info tech">
              <div class="icon">
                <img src="/assets/images/angular.png"/>
              </div>
              <div class="description">
                Angular
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-gray cd-section" id="contact-me">
      <div class="container">
        <div class="row">
          <div class="col-md-4 ml-auto mr-auto">
            <h2 class="text-left">
              Contact Me?
            </h2>
            <h6 class="text-left" style="font-weight: 700 !important">Hire Me?</h6>
          </div>
          <div class="col-md-4 ml-auto mr-auto">
            <h2 class="text-right">
              <a href="mailto:danielchu0710@hotmail.com"><button type="button"
                  class="btn btn-danger btn-block btn-lg">Email Me <i class="far fa-envelope"></i></button></a>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav id="cd-vertical-nav">
  <ul>
    <li>
      <a href="#page-head" data-number="1">
        <span class="cd-dot"></span>
        <span class="cd-label">Headers</span>
      </a>
    </li>
    <li>
      <a href="#about-me" data-number="2">
        <span class="cd-dot"></span>
        <span class="cd-label">About Me</span>
      </a>
    </li>
    <li>
      <a href="#experiences" data-number="3" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Experiences</span>
      </a>
    </li>
    <li>
      <a href="#projects" data-number="5" class="">
        <span class="cd-dot"></span>
        <span class="cd-label">Projects</span>
      </a>
    </li>
    <li>
      <a href="#tech" data-number="8">
        <span class="cd-dot"></span>
        <span class="cd-label">Technologies Learnt</span>
      </a>
    </li>
    <li>
      <a href="#contact-me" data-number="8">
        <span class="cd-dot"></span>
        <span class="cd-label">Contact Me</span>
      </a>
    </li>
  </ul>
</nav>