<!-- Main hero page -->
<div class="page-header" data-parallax="true">
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
      <div class="motto text-left">
        <h1 class="title">Software Dev, Technology Enthusiast and University Student</h1>
        <h3 class="description">A third year University student Specializing in Computer Science and are very
          interested in working on software development</h3>
      </div>
    </div>
  </div>
</div>

<!-- Main content-->
<div class="wrapper">
  <div class="section text-center landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">A little about me</h2>
          <h5 class="description">
            My name is Daniel, with the nickname of Daffy, and currently studying at University of Toronto in the
            field of Computer Science.
            I am currently really interested in creating new programs, collaborate with others and discover more
            awesome technologies.
            In addition, I am also pursuing in the software developer world in the future after graduation.
            My hobby consists of speaking/learning japanese, playing guitar, writing "fun" code, learning new
            algorithms and programming languages
            as well as watching anime!
          </h5>
        </div>
      </div>

    </div>
  </div>

  <div class="section section-dark text-center landing-section">
    <div class="container">
      <h2 class="title">Work Experiences</h2>
      <h6 class="description">The work throughout the course of University</h6>
        <br />
        <div class="row">
          <div class="col-md-4">
            <div class="card car-profile card-plain">
              <div class="card-body">
                <div class="card-body">
                  <div class="author">
                    <h4 class="card-title">Teaching Assistant</h4>
                    <h6 class="card-category text-muted">Jan 2020 - Present</h6>
                    <h6 class="card-cateogry text-muted">Marking TA / Board TA</h6>
                    <h6 class="card-cateogry text-muted">Introduction to Computer Science</h6>
                  </div>
                  <p class="card-description text-center">
                    Working in the "backend" of TA where I will be marking all the assignments and tests that student
                    writes as well as answer questions on discussion board.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card car-profile card-plain">
              <div class="card-body">
                <div class="card-body">
                  <div class="author">
                    <h4 class="card-title">Teaching Assistant</h4>
                    <h6 class="card-category text-muted">Sep 2019 - Dec 2019</h6>
                    <h6 class="card-category text-muted">Lecture TA</h6>
                    <h6 class="card-cateogry text-muted">Introduction to Computer Science</h6>
                  </div>
                  <p class="card-description text-center">
                    A new way of learning, acting learning where as a teaching assistant, I would assist the professor
                    during lecture to answer questions students may have and to co-teach with the professor during
                    times that students write codes in.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card car-profile card-plain">
              <div class="card-body">
                <div class="card-body">
                  <div class="author">
                    <h4 class="card-title">Teaching Assistant</h4>
                    <h6 class="card-category text-muted">Jan 2019 - Apr 2019</h6>
                    <h6 class="card-cateogry text-muted"> Lab TA </h6>
                    <h6 class="card-cateogry text-muted">Introduction to Computer Science</h6>
                  </div>
                  <p class="card-description text-center">
                    First-time Teaching Assistant experience, hosted a two hours tutorial sessions where I teach a
                    full university-sized class students about the fundamental of Python and the required knowledge
                    that they need for assignments, labs and tests.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="section landing-section text-center">
    <div class="container">
      <div id="description-areas">
        <h2 class="title">
          Projects
        </h2>
        <h6 class="descrption">
          The projects that I've worked on or is currently in the work while studying
        </h6>
        <div class="row">
          <div class="col-md-6">
            <div class="card card-blog">
              <div class="card-body">
                <!-- <label class="badge badge-pill badge-danger">Beginner</label> -->
                <h4 class="card-title">
                  Arezue (Anonymous Job Search)
                </h4>
                <h6>Dec 2019 - Present</h6>
                <h6 class="description">(Will be a semester long)</h6>
                <div class="card-description">
                  A huge project that allows an anonymous way of job seeking to eliminate race, age, and others during
                  a job search. Where this project will hide personal information on resumes so that recruiters
                  will decide on a callback based solely on the jobseeker's qualification. In addition, Personal
                  information will only be revealed if the jobseeker accepts an interview request.
                  <br><br>
                  Technology Used:
                  <br>
                  Flutter, NodeJS with ExpressJs, PostgreSQL, ELasticSearch, Firebase
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="card card-blog">
              <div class="card-body">
                <!-- <label class="badge badge-pill badge-danger">Beginner</label> -->
                <h4 class="card-title">
                  Web Scrapper
                </h4>
                <h6>2018 Summer</h6>
                <div class="card-description">
                  A custom python script that not only grabs data from various websites, but also put all data
                  scrapped with the use of <a href="https://scrapy.org/" target="_blank">Scrapy</a> into <a
                    href="https://www.mongodb.com/" target="_blank">MongoDB</a>.
                  The main idea was to scrap both anime and manga data in both Japenses and English and to combine the
                  two data in two languages into one databse and one website. However, had trouble merging the
                  Japenese content and English content correctly without
                  putting data in the wrong data sets.
                  <br><br>
                  Technology Used:
                  <br>
                  Python, Scrapy, MongoDB
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="section section-dark landing-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Technologies</h2>
            <h6 class="description">The Languages, Technologies that I've used</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="info tech">
              <div class="icon">
                <img src="https://img.icons8.com/color/48/000000/python.png">
              </div>
              <div class="description">
                Python
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="info tech">
              <div class="icon">
                <img src="https://img.icons8.com/color/48/000000/java-coffee-cup-logo.png">
              </div>
              <div class="description">
                Java
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="info tech">
              <div class="icon">
                <img src="https://img.icons8.com/color/48/000000/c-programming.png">
              </div>
              <div class="description">
                C
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="info tech">
              <div class="icon">
                <img src="https://img.icons8.com/color/48/000000/docker.png">
              </div>
              <div class="description">
                Docker
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="info tech">
              <div class="icon">
                <img src="https://img.icons8.com/color/48/000000/javascript.png">
              </div>
              <div class="description">
                Javascript
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="info tech">
              <div class="icon">
                <img src="https://img.icons8.com/color/48/000000/c-plus-plus-logo.png">
              </div>
              <div class="description">
                C++
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="info tech">
              <div class="icon">
                <img src="https://img.icons8.com/color/48/000000/nodejs.png">
              </div>
              <div class="description">
                Nodejs
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="info tech">
              <div class="icon">
                <img src="https://img.icons8.com/color/48/000000/flutter.png">
              </div>
              <div class="description">
                Flutter
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-4 ml-auto mr-auto">
            <h2 class="text-left">
              Contact Me?
            </h2>
            <h6 class="text-left">Hire Me?</h6>
          </div>
          <div class="col-md-4 ml-auto mr-auto">
            <h2 class="text-right">
              <a href="mailto:danielchu0710@hotmail.com"><button type="button"
                  class="btn btn-danger btn-block btn-lg">Email Me <i class="far fa-envelope"></i></button></a>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
